@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font: 300 70px/1 "Lato", sans-serif;
  color: #777;
  background: #eee;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  margin-top: -45px;
  margin-left: -(350px/2);
  text-align: center;
  overflow: hidden;
}

.clock span {
  position: relative;
  display: inline-block;
  width: 50px;
}

.clock span:nth-child(2),
.clock span:nth-child(4) {
  border-right: 1px solid #aaa;
}

.clock span:before,
.clock span:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  transition: transform 0.75s;
}

.clock span:before {
  content: attr(data-old);
  z-index: 1;
  transform: translate3d(0, 0, 0);
}

.clock .flip:before {
  transform: translate3d(0, 102.5%, 0);
}

.clock span:after {
  content: attr(data-now);
  z-index: 2;
  transform: translate3d(0, -102.5%, 0);
}

.clock .flip:after {
  transform: translate3d(0, 0, 0);
}
